<template name="header">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container" style="padding-top: 4px;">
                <i class="icon icon-plus-sign" style="font-size: 30px; color: #FFF;" data-toggle="tooltip" title="Configurar dashboard"></i>
                <i class="icon icon-cogs" style="font-size: 30px; color: #FFF;" data-toggle="tooltip" title="Añadir widget"></i>
            </div>
        </div>
    </div>
</template>