<template name="numberWidgetConfigurator">
    <div class="numberWidgetConfigurator" id="{{widget.id}}-configurator">
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
</template>