<template name="widgetConfiguration">
    <div class="widgetConfiguration" id="{{widget.id}}-configuration-container">
        <article style="padding: 10px;">
            <header>
                <h6>{{title}}<span class="close">CERRAR</span></h6>

            </header>
            <section>
                {{{body}}}
            </section>
            <footer>
            </footer>
        </article>
        <div id="fallr-buttons">
            <a href="#" class="fallr-button" id="">Guardar</a>
        </div>
    </div>
</template>