body {
    background-color: #004756;
}

.gridster ul li {
    list-style-type: none;
}

.navbar {
    opacity: 0.5;
    -webkit-box-shadow: 0.25em 0.25em 0.33em rgba(0, 0, 0, 0.3);
    box-shadow: 0.25em 0.25em 0.33em rgba(0, 0, 0, 0.3);

}
.navbar i {
    margin-left: 5px;
    cursor: pointer;
}
.dashboard {
    position: absolute;
    left: 0px;
    top: 40px;
    -webkit-transition: left 0.6s;
    -moz-transition: left 0.6s;
    -o-transition: left 0.6s;
    transition: left 0.6s;
    width: 95%;
}

.widget {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(243, 243, 232, 0.7);
    color: #c2c2b9;
    cursor: default;
    border-radius: 3px;
    border: solid transparent 10px;
    -webkit-box-shadow: 0.25em 0.25em 0.33em rgba(0, 0, 0, 0.3);
    box-shadow: 0.25em 0.25em 0.33em rgba(0, 0, 0, 0.3);
}

.widget header {
    z-index: 5;
    text-align: right;
    width: 100%;
    height: 15.07%;
    top: 0;
    display: table;
    background-color: #FFF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-transition: padding 0.6s;
    -moz-transition: padding 0.6s;
    -o-transition: padding 0.6s;
    transition: padding 0.6s;}

.widget header h4 {
    font-size: 0.8em;
    font-weight: normal;
    text-transform: uppercase;
    color: #ababa3;
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
}

.widget footer .close {
    font-size: 24px;
    position: relative;
    z-index: 10000;
    top: -3px;
    left: 21px;
    color: #AABFBC;
    opacity: 1;
    text-shadow: none;
}

.widget footer .close:hover {
    font-size: 24px;
    position: relative;
    z-index: 10000;
    top: -3px;
    left: 21px;
    color: #FFF;
    opacity: 1;
    text-shadow: 0 1px 0 #000;
}

.widget footer .config {
    font-size: 24px;
    position: relative;
    z-index: 10000;
    top: -3px;
    left: -19px;
    color: #AABFBC;
    opacity: 1;
    text-shadow: none;
    cursor: pointer;
}

.widget footer .config:hover {
    font-size: 24px;
    position: relative;
    z-index: 10000;
    top: -3px;
    left: -19px;
    color: #FFF;
    opacity: 1;
    text-shadow: 0 1px 0 #000;
}

.widget section {
    width: 100%;
    height: 85.03%;
    overflow: hidden;
    position: relative;
    background-color: #FFF;
    opacity: 0.7;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}