<template name="dashboard">
    <div class="gridster">
        <ul class="dashboard">
            {{#each widgets}}
              {{> widget}}
            {{/each}}
        </ul>
    </div>
</template>