<template name="widget">
    <li class="player-revert" id="{{id}}" data-type="{{type}}" data-row="{{position.row}}" data-col="{{position.col}}" data-sizex="{{size.width}}" data-sizey="{{size.height}}" style="display: list-item;">
        {{{html}}}
    </li>
</template>