<template name="numberWidget">
    <article class="widget">
        <header>
            <h4>{{title}}</h4>
        </header>
        <section class="slot" style="opacity: 1">

        </section>
        <footer>
            <i class="icon-cog config" data-toggle="tooltip" title="Configurar"></i>
            <i class="icon-remove-circle close" data-toggle="tooltip" title="Eliminar"></i>
        </footer>
    </article>
</template>